@import "rsuite/dist/rsuite.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: hsl(0, 0%, 90%);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(202, 235, 185);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #8bbf64;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

blockquote {
  border-left: 0.1rem solid #8bbf64;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
  margin-left: 1.3rem;
  background-color: var(--bg-blockquote);
}

tr,
td {
  border: 1px solid #443b3b;
  padding: 0.5rem;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "QuickSand", "sans-serif";
  color: #000;
  font-weight: 500;
}

.light {
  --text-custom: rgb(30 41 59);
  --text-sidebar: #575757;
  --text-custom-process: #4c9428;
  --text-custom-features: #4b4242;
  --text-custom-gray: #1d1d1d8a;
  --text-custom-name: rgb(30 41 59);
  --text-btnPrimary: #fff;
  --text-btnDisabled: #a6a6a6;
  --text-btnSuccess: #fff;

  /* ######################## */
  --bg-custom: #fff;
  --bg-custom-process: #dcf6cb;
  --bg-custom-group: #fff;
  --bgHover-gray-dark: rgb(241 245 249);
  --bg-sidebar: #e5e5ea;
  --bg-btnPrimary: #0d73d4;
  --bg-btnDisabled: #e0e0e0;
  --bg-btnSuccess: rgb(46, 125, 50);
  --bg-blockquote: #f6f6f6;


  /* ######################## */
  --bg-btnPrimaryHover: rgb(21, 101, 192);
  --bg-btnSuccessHover: rgb(27, 94, 32);

  /* Table Antd */
  --bg-table-hover: #fafafa;
  --bg-table-active: #bae0ff;
  --bg-table-thead: #fafafa;

  /* ######################## */
  --border-custom: rgb(241 245 249);


}

.dark {
  --text-custom: #fff;
  --text-sidebar: #fff;
  --text-custom-process: #f0d929;
  --text-custom-features: #fff;
  --text-custom-gray: #fff;
  --text-custom-name: #f0d929;
  --text-btnPrimary: #091520;
  --text-btnDisabled: #6d7073;
  --text-btnSuccess: #000;

  /* ###################### */
  --bg-custom: #1e293b;
  --bg-custom-process: #8b8d9b;
  --bg-custom-group: #9aabab47;
  --bgHover-gray-dark: #3e42647d;
  --bg-sidebar: #2f3c55;
  --bg-btnPrimary: rgb(144, 202, 249);
  --bg-btnDisabled: #2e3237;
  --bg-btnSuccess: rgb(102, 187, 106);
  --bg-blockquote: #2f4c60;

  --bg-btnPrimaryHover: rgb(66, 165, 245);
  --bg-btnSuccessHover: rgb(56, 142, 60);

  /* Table ant */
  --bg-table-hover: #617184;
  --bg-table-active: #254558;
  --bg-table-thead: #14233b;

  /* ####################### */
  --border-custom: rgb(100 116 139);
}

.btn-primary {
  padding: 0.5rem;
  background-color: var(--bg-btnPrimary);
  color: var(--text-btnPrimary);
  border-radius: 5px;
  transition: 0.25s ease;
}

.btn-disabled {
  padding: 0.5rem;
  background-color: var(--bg-btnDisabled);
  color: var(--text-btnDisabled);
  border-radius: 5px;
  cursor: default;
}

.btn-disabled:disabled {
  cursor: default;
}

.btn-success {
  padding: 0.5rem;
  background-color: var(--bg-btnSuccess);
  color: var(--text-btnSuccess);
  border-radius: 5px;
  transition: 0.25s ease;
}

.btn-error {
  padding: 0.5rem;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  transition: 0.25s ease;
}


.btn-primary:hover {
  background-color: var(--bg-btnPrimaryHover);
}

.btn-success:hover {
  background-color: var(--bg-btnSuccessHover);
}



/* ###################################### */
input {
  outline: none;
}

button {
  display: block;
}

.css-1wuw8dw-MuiBreadcrumbs-separator {
  color: var(--text-custom);
}

.rs-sidenav-nav>.rs-sidenav-item,
.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle {
  background: white;
}

.rs-carousel-slider-item {
  background: #9aabab47;
}

.rs-sidenav-nav>.rs-sidenav-item,
.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle {
  background: var(--bg-custom);
}

.rs-sidenav-default .rs-sidenav-item:hover,
.rs-sidenav-default .rs-dropdown .rs-dropdown-toggle:hover,
.rs-sidenav-default .rs-sidenav-toggle-button:hover,
.rs-sidenav-default .rs-dropdown.rs-dropdown-open .rs-dropdown-toggle {
  background: var(--bg-sidebar);
  color: var(--text-sidebar);
}

.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle .rs-dropdown-toggle-caret {
  color: var(--text-sidebar);
}

.rs-sidenav-default {
  background: var(--bg-custom);
}

.rs-sidenav-nav>.rs-sidenav-item,
.rs-sidenav-nav>.rs-dropdown .rs-dropdown-toggle {
  color: var(--text-sidebar)
}

.rs-carousel-shape-bar .rs-carousel-label {
  top: 10px;
}

.rs-sidenav-default .rs-sidenav-item,
.rs-sidenav-default .rs-dropdown-toggle,
.rs-sidenav-default .rs-sidenav-toggle-button {
  background: var(--bg-custom);
  color: var(--text-sidebar);
}

.rs-panel-btn:hover,
.rs-panel-btn:focus,
.rs-panel-btn:active {
  background-color: var(--bgHover-gray-dark);
}

.rs-icon {
  color: var(--text-custom);
}


.draggable-element {
  touch-action: none;
}


.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  color: var(--text-custom);
  border: 1px solid var(--border-custom)
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--text-custom);
  background-color: var(--bg-custom);
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
  color: var(--text-custom);
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border: 1px solid var(--border-custom)
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: var(--bg-custom);
  color: var(--text-custom)
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon path {
  color: var(--text-custom);
}

.tox-statusbar__branding {
  display: none;
}

.css-heg063-MuiTabs-flexContainer {
  border-bottom: 1px solid var(--border-custom);
}

.rs-modal-content {
  background-color: var(--bg-custom);
}

label#select-lesson-title,
label#demo-simple-select-label,
svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiSelect-iconOutlined.MuiSelect-iconOpen.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
label#video-url-label,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: var(--text-custom);
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  background-color: var(--bg-custom);
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: var(--border-custom);
}


.ant-breadcrumb-link a,
:where(.css-dev-only-do-not-override-usln0u).ant-breadcrumb .ant-breadcrumb-separator,
.ant-breadcrumb-link {
  color: var(--text-custom);
  transition: 0.25s ease;
  user-select: none;
}

.ant-breadcrumb-link a:hover {
  background-color: var(--bgHover-gray-dark);
  color: var(--text-custom);
}



/* Table Antd */
.ant-table-content {
  background-color: var(--bg-custom) !important;
  border: 1px solid var(--border-custom);
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead .ant-table-cell {
  background-color: var(--bg-table-thead);
  border-radius: 0px;
}

.ant-table-cell {
  color: var(--text-custom) !important;
}

.ant-table-tbody>tr>td {
  background-color: var(--bg-custom);
}

.ant-table-tbody td {
  border: none;
}



.ant-table-cell-row-hover {
  background-color: var(--bg-table-hover) !important;
}


:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background: var(--bg-table-active) !important;
}

:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-tbody>tr>td {
  border-bottom: 1px solid var(--border-custom);
}

:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-thead>tr>td {
  border-bottom: 1px solid var(--border-custom);
}

.anticon>svg {
  color: var(--text-custom) !important;
}

:where(.css-dev-only-do-not-override-usln0u).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--bg-custom);
}

:where(.css-dev-only-do-not-override-usln0u).ant-select-single.ant-select-lg .ant-select-selector .ant-select-selection-item,
:where(.css-dev-only-do-not-override-usln0u).ant-select-single.ant-select-lg .ant-select-selector .ant-select-selection-placeholder {
  color: var(--text-custom);
}

:where(.css-dev-only-do-not-override-usln0u).ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border-color: var(--border-custom)
}