@import '../../../index.css';

.ant-drawer-body {
    background-color: var(--bg-custom);
    padding: 0 !important;
    margin: 0 !important;
}

.ant-drawer-header-title .ant-drawer-close svg {
    color: #000 !important;
}
